alembic==0.9.6
APScheduler==3.5.1
attrs==17.3.0
bleach==2.1.2
blinker==1.4
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
click==6.7
colorama==0.3.9
decorator==4.1.2
entrypoints==0.2.3
Flask==0.12.2
Flask-APScheduler==1.7.1
Flask-Cors==3.0.3
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gevent==1.2.2
greenlet==0.4.12
html5lib==1.0.1
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.2.0
itchat==1.3.10
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.0
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.15.0
mistune==0.8.3
mysql-connector==2.1.6
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
pandocfilters==1.4.2
parso==0.1.1
pickleshare==0.7.4
Pillow==5.0.0
pip-autoremove==0.9.0
pluggy==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
pygame==1.9.3
Pygments==2.2.0
PyJWT==1.5.3
pypng==0.0.18
PyQRCode==1.2.1
pytest==3.3.1
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qiniu==7.2.0
qtconsole==4.3.1
redis==2.10.6
requests==2.18.4
rise==5.2.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.0
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
wcwidth==0.1.7
webargs==1.8.1
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.0
