@barColor: #333;
@green: #7de87d;
@comment_bg: #e4e4e4;

@circle-btn-size: 70px;

@font-face {
  font-family: zcmol;
  src: url('./font/zcmol.ttf');
}

@font-face {
  font-family: beleren;
  src: url("./font/Beleren-Bold.ttf");
}

@font-face {
  font-family: motto;
  src: url("./font/motto.ttf");
}

.flex(@h: center, @v: center) {
  display: flex;
  align-items: @v;
  justify-content: @h;
}

// btn - style
.circle-btn {
  width: @circle-btn-size;
  height: @circle-btn-size;
  font-size: @circle-btn-size - 10px;
  color: @barColor;
  font-family: beleren;
  -webkit-border-radius: @circle-btn-size;
  -moz-border-radius: @circle-btn-size;
  border-radius: @circle-btn-size;
  background-color: @green;
  .flex;
  &:hover {
    cursor: pointer;
    background-color: @barColor;
    color: @green;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border: 0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #444;
  border: 0;
  box-shadow: 0 0 3px #444 inset;
  border-radius: 10px;
}

